/* Estilo do container branco com sombra e bordas arredondadas */
.table-responsive {
    overflow-x: auto; /* Permite rolagem horizontal */
    -webkit-overflow-scrolling: touch; /* Suporte para scrolling suave em dispositivos touch */
    
}

/* Estilo geral do corpo */
body {
    background-color: #005BA6; /* Fundo da página */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.content-box {
    background-color: #FFFFFF; /* Fundo branco */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin: 60px auto 30px auto;
   

}

/* Estilo do título */
h2 {
    color: #005BA6; /* Cor do título */
}


/* Botão abaixo da tabela */
.d-flex {
    margin-top: 20px; /* Espaçamento entre a tabela e o botão */
}

/* Estilo do botão "Novo Ofício" */
.btn-novo-oficio {
    background-color: #005BA6; /* Cor de fundo azul */
    color: #FFFFFF; /* Cor do texto branco */
    border: none;
}

.btn-novo-oficio:hover {
    background-color: #004080; /* Cor mais escura ao passar o mouse */
}

/* Estilo personalizado para os botões de paginação */
.custom-paginator {
  width: 100%; /* Ocupa toda a largura disponível */
  justify-content: right; /* Alinha os botões à direita */
}

.custom-paginator button {
  background-color: transparent; 
  border: none; 
  color: #005BA6; 
  font-size: 16px; 
  padding: 5px 10px; 
  cursor: pointer; 
}

.custom-paginator button:hover {
  text-decoration: underline; 
}

.custom-paginator button:disabled {
  color: #cccccc;
  cursor: not-allowed; 
}


.custom-paginator .page-numbers {
  display: inline-block;
  margin: 0 10px;
}

.custom-paginator .page-numbers button {
  margin: 0 3px;
}

.custom-paginator .active {
  font-weight: bold; /* Botão da página ativa em negrito */
}