/* Estilo do container branco com sombra e bordas arredondadas */
.table-responsive {
    overflow-x: auto; /* Permite rolagem horizontal */
    -webkit-overflow-scrolling: touch; /* Suporte para scrolling suave em dispositivos touch */
    
}

/* Aplicar cor de texto dark nos títulos das colunas */
.datatable-header .datatable-header-cell {
  color: #343a40; /* Cor escura para os títulos (equivalente a text-dark) */
  
}

/* Aplicar cor de texto secondary no conteúdo das células */
.datatable-body-cell {
  color: #6c757d; /* Cor secundária para o conteúdo das células */
}



/* Botão abaixo da tabela */
.d-flex {
    margin-top: 20px; /* Espaçamento entre a tabela e o botão */
}

/* Estilo do botão "Novo Ofício" */
.btn-novo-oficio {
    background-color: #005BA6; /* Cor de fundo azul */
    color: #FFFFFF; /* Cor do texto branco */
    border: none;
}

.btn-novo-oficio:hover {
    background-color: #004080; /* Cor mais escura ao passar o mouse */
}

/* Estilo personalizado para os botões de paginação */
.custom-paginator {
  width: 100%; /* Ocupa toda a largura disponível */
  justify-content: right; /* Alinha os botões à direita */
}

.custom-paginator button {
  background-color: transparent; 
  border: none; 
  color: #005BA6; 
  font-size: 16px; 
  padding: 5px 10px; 
  cursor: pointer; 
}

.custom-paginator button:hover {
  text-decoration: underline; 
}

.custom-paginator button:disabled {
  color: #cccccc;
  cursor: not-allowed; 
}


.custom-paginator .page-numbers {
  display: inline-block;
  margin: 0 10px;
}

.custom-paginator .page-numbers button {
  margin: 0 3px;
}

.custom-paginator .active {
  font-weight: bold; /* Botão da página ativa em negrito */
}