<div class="container-fluid bg-white">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="content-box p-4 shadow-sm bg-white rounded">
        <h2 class="text-dark text-start mb-4">Lista de Ofícios</h2>
        <!-- Campo único de Pesquisa -->
        <div class="col-md-4 pb-4 row justify-content-start">
          <input
            type="text"
            placeholder="Pesquisar"
            class="form-control"
            [(ngModel)]="searchTerm"
            (input)="filterOficios()"
          />
        </div>

        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="filteredOficios"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="pageSize"
            [count]="filteredOficios.length"
            [offset]="pageOffset"
            (page)="onPage($event)"
            [scrollbarH]="true"
            style="min-width: 1000px;"
          >
            <!-- Títulos das colunas com texto dark -->
            <ngx-datatable-column name="Número" prop="numero" [sortable]="true" [width]="20" headerClass="text-dark border-bottom">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-secondary">{{ row.numero }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Ano" prop="ano" [sortable]="true" [width]="20" headerClass="text-dark border-bottom">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-secondary">{{ row.ano }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Unidade" prop="unidade" [sortable]="true" [width]="20" headerClass="text-dark border-bottom">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-secondary">{{ row.unidade }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Data" prop="data" [pipe]="datePipe" [sortable]="true" [width]="20" headerClass="text-dark border-bottom">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span class="text-secondary">{{ row.data | date: 'dd/MM/yyyy' }}</span>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Ações" headerClass="text-dark border-bottom">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span *ngIf="!row">Sem dados</span> <!-- Adicionado para verificar -->
                <button class="btn btn-primary me-1" [routerLink]="['/edit', row.id]">Editar</button>
                <button class="btn btn-danger me-1" (click)="deleteOficio(row.id)">Excluir</button>
                <button class="btn btn-info" *ngIf="row.arquivoUrl" (click)="downloadFile(getFileNameFromUrl(row.arquivoUrl))">Download</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>


        
        <div class="d-flex justify-content-start mt-3">
          <button class="btn btn-success btn-novo-oficio" [routerLink]="['/new']">Novo Ofício</button>
        </div>

        <div class="d-flex justify-content-between mt-3">
          <div>
            <label for="pageSize">Linhas por página:</label>
            <select [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange($event)" class="form-control d-inline-block w-auto">
              <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
