
<div class="container">
    <h2>Visualização do Ofício</h2>
    <!-- Exibir Ofício: Número / Unidade / Ano -->
    <p>Ofício: {{ numero }}/{{ unidade }}/{{ ano }}</p>

     <!-- Botões -->
     <div class="button-group col-md-12 d-flex justify-content-start">
           <button 
        type="button" 
        (click)="goBack()" 
        class="btn botao_voltar ms-2">Voltar</button>
     </div>

     <!-- Exibir PDF -->
     <div *ngIf="pdfUrl">
      <iframe [src]="pdfUrl" width="100%" height="600px"></iframe>
    </div>
    <div *ngIf="!pdfUrl && isLoading">
      Carregando PDF...
    </div>
    <div *ngIf="!pdfUrl && !isLoading">
      PDF não encontrado ou erro ao carregar.
    </div>